In [48]:
import numpy as np
import numpy.random as random
import scipy as sp
import pandas as pd
from pandas import Series,DataFrame

# 可視化モジュール
import matplotlib.pyplot as plt
import matplotlib as mpl
#import seaborn as sns
%matplotlib inline

# 小数第３まで表示
%precision 3

'%.3f'

In [49]:
Collision_data = pd.read_csv('NYC_accidents_heat_map.csv')
Collision_data.head()

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,10/22/2017,0:00,BRONX,10453,40.861862,-73.912820,"(40.861862, -73.91282)",WEST FORDHAM ROAD,MAJOR DEEGAN EXPRESSWAY,NaN,...,Unspecified,NaN,NaN,NaN,3774361,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
1,10/22/2017,0:00,BROOKLYN,11211,40.714073,-73.950615,"(40.714073, -73.950615)",NaN,NaN,545 METROPOLITAN AVENUE,...,Other Vehicular,NaN,NaN,NaN,3774004,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
2,10/22/2017,0:00,MANHATTAN,10011,40.739136,-73.999260,"(40.739136, -73.99926)",NaN,NaN,77 7 AVENUE,...,Unspecified,NaN,NaN,NaN,3774254,TAXI,BU,NaN,NaN,NaN
3,10/22/2017,0:00,MANHATTAN,10025,40.794235,-73.962814,"(40.794235, -73.962814)",CENTRAL PARK WEST,WEST 100 STREET,NaN,...,Unspecified,NaN,NaN,NaN,3774917,TAXI,TAXI,NaN,NaN,NaN
4,10/22/2017,0:00,QUEENS,11428,40.720375,-73.732260,"(40.720375, -73.73226)",JAMAICA AVENUE,222 STREET,NaN,...,Unspecified,NaN,NaN,NaN,3774091,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN

In [50]:
Collision_data['la'] = Collision_data['LATITUDE'].map(lambda x : round(float(x),3))
Collision_data['lo'] = Collision_data['LONGITUDE'].map(lambda x : round(float(x),3))

In [51]:
Dummy = pd.get_dummies(Collision_data['CONTRIBUTING FACTOR VEHICLE 1'])
Dummy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1139133 entries, 0 to 1139132
Data columns (total 48 columns):
Accelerator Defective                                    1139133 non-null uint8
Aggressive Driving/Road Rage                             1139133 non-null uint8
Alcohol Involvement                                      1139133 non-null uint8
Animals Action                                           1139133 non-null uint8
Backing Unsafely                                         1139133 non-null uint8
Brakes Defective                                         1139133 non-null uint8
Cell Phone (hand-held)                                   1139133 non-null uint8
Cell Phone (hands-free)                                  1139133 non-null uint8
Driver Inattention/Distraction                           1139133 non-null uint8
Driver Inexperience                                      1139133 non-null uint8
Driverless/Runaway Vehicle                               1139133 non-null uint8
Drugs (Illegal)                                          1139133 non-null uint8
Failure to Keep Right                                    1139133 non-null uint8
Failure to Yield Right-of-Way                            1139133 non-null uint8
Fatigued/Drowsy                                          1139133 non-null uint8
Fell Asleep                                              1139133 non-null uint8
Following Too Closely                                    1139133 non-null uint8
Glare                                                    1139133 non-null uint8
Headlights Defective                                     1139133 non-null uint8
Illness                                                  1139133 non-null uint8
Lane Marking Improper/Inadequate                         1139133 non-null uint8
Lost Consciousness                                       1139133 non-null uint8
Obstruction/Debris                                       1139133 non-null uint8
Other Electronic Device                                  1139133 non-null uint8
Other Lighting Defects                                   1139133 non-null uint8
Other Vehicular                                          1139133 non-null uint8
Outside Car Distraction                                  1139133 non-null uint8
Oversized Vehicle                                        1139133 non-null uint8
Passenger Distraction                                    1139133 non-null uint8
Passing or Lane Usage Improper                           1139133 non-null uint8
Pavement Defective                                       1139133 non-null uint8
Pavement Slippery                                        1139133 non-null uint8
Pedestrian/Bicyclist/Other Pedestrian Error/Confusion    1139133 non-null uint8
Physical Disability                                      1139133 non-null uint8
Prescription Medication                                  1139133 non-null uint8
Reaction to Other Uninvolved Vehicle                     1139133 non-null uint8
Shoulders Defective/Improper                             1139133 non-null uint8
Steering Failure                                         1139133 non-null uint8
Tire Failure/Inadequate                                  1139133 non-null uint8
Tow Hitch Defective                                      1139133 non-null uint8
Traffic Control Device Improper/Non-Working              1139133 non-null uint8
Traffic Control Disregarded                              1139133 non-null uint8
Turning Improperly                                       1139133 non-null uint8
Unsafe Lane Changing                                     1139133 non-null uint8
Unsafe Speed                                             1139133 non-null uint8
Unspecified                                              1139133 non-null uint8
View Obstructed/Limited                                  1139133 non-null uint8
Windshield Inadequate                                    1139133 non-null uint8
dtypes: uint8(48)
memory usage: 52.1 MB

In [73]:
df = pd.DataFrame(Dummy.sum())
df.head()

                                  0
Accelerator Defective           495
Aggressive Driving/Road Rage   3674
Alcohol Involvement            9400
Animals Action                  628
Backing Unsafely              35278

In [74]:
bus_list = df.loc[['Backing Unsafely', 'Driver Inattention/Distraction',
       'Driver Inexperience', 'Failure to Yield Right-of-Way',
       'Fatigued/Drowsy', 'Lost Consciousness', 'Other Vehicular',
       'Outside Car Distraction', 'Oversized Vehicle', 'Pavement Slippery',
       'Prescription Medication', 'Turning Improperly'],:]
bus_list

                                     0
Backing Unsafely                 35278
Driver Inattention/Distraction  163270
Driver Inexperience              14730
Failure to Yield Right-of-Way    53023
Fatigued/Drowsy                  48443
Lost Consciousness               20220
Other Vehicular                  34480
Outside Car Distraction          10846
Oversized Vehicle                 6731
Pavement Slippery                11125
Prescription Medication          15900
Turning Improperly               27894

In [77]:
bus_list.to_csv('bus_list_num.csv')

In [54]:
bus_list.sum()

0    441940
dtype: int64

In [55]:
i=0
for i in range(len(bus_list.index)):
    bus_list.iloc[i,0] = bus_list.iloc[i,0]/441940
bus_list

                                       0
Backing Unsafely                0.079825
Driver Inattention/Distraction  0.369439
Driver Inexperience             0.033330
Failure to Yield Right-of-Way   0.119978
Fatigued/Drowsy                 0.109614
Lost Consciousness              0.045753
Other Vehicular                 0.078020
Outside Car Distraction         0.024542
Oversized Vehicle               0.015231
Pavement Slippery               0.025173
Prescription Medication         0.035978
Turning Improperly              0.063117

In [78]:
taxi_list = df.loc[['Aggressive Driving/Road Rage', 'Alcohol Involvement',
       'Backing Unsafely', 'Brakes Defective',
       'Driver Inattention/Distraction', 'Driver Inexperience',
       'Failure to Yield Right-of-Way', 'Fatigued/Drowsy',
       'Following Too Closely', 'Illness', 'Lost Consciousness',
       'Other Electronic Device', 'Other Vehicular', 'Outside Car Distraction',
       'Oversized Vehicle', 'Passenger Distraction',
       'Passing or Lane Usage Improper', 'Pavement Slippery',
       'Physical Disability', 'Prescription Medication',
       'Reaction to Other Uninvolved Vehicle', 'Traffic Control Disregarded',
       'Turning Improperly', 'Unsafe Lane Changing', 'Unsafe Speed',
       'View Obstructed/Limited'],:]
taxi_list

                                           0
Aggressive Driving/Road Rage            3674
Alcohol Involvement                     9400
Backing Unsafely                       35278
Brakes Defective                        2988
Driver Inattention/Distraction        163270
Driver Inexperience                    14730
Failure to Yield Right-of-Way          53023
Fatigued/Drowsy                        48443
Following Too Closely                  25972
Illness                                 2535
Lost Consciousness                     20220
Other Electronic Device                 2260
Other Vehicular                        34480
Outside Car Distraction                10846
Oversized Vehicle                       6731
Passenger Distraction                   5028
Passing or Lane Usage Improper         12167
Pavement Slippery                      11125
Physical Disability                     9362
Prescription Medication                15900
Reaction to Other Uninvolved Vehicle    5512
Traffic Control Disregarded            15171
Turning Improperly                     27894
Unsafe Lane Changing                   10233
Unsafe Speed                            4951
View Obstructed/Limited                 5053

In [79]:
taxi_list.to_csv('taxi_list_num.csv')

In [57]:
taxi_list.sum()

0    556246
dtype: int64

In [58]:
i=0
for i in range(len(taxi_list.index)):
    taxi_list.iloc[i,0] = taxi_list.iloc[i,0]/556246
taxi_list

                                             0
Aggressive Driving/Road Rage          0.006605
Alcohol Involvement                   0.016899
Backing Unsafely                      0.063422
Brakes Defective                      0.005372
Driver Inattention/Distraction        0.293521
Driver Inexperience                   0.026481
Failure to Yield Right-of-Way         0.095323
Fatigued/Drowsy                       0.087089
Following Too Closely                 0.046692
Illness                               0.004557
Lost Consciousness                    0.036351
Other Electronic Device               0.004063
Other Vehicular                       0.061987
Outside Car Distraction               0.019499
Oversized Vehicle                     0.012101
Passenger Distraction                 0.009039
Passing or Lane Usage Improper        0.021873
Pavement Slippery                     0.020000
Physical Disability                   0.016831
Prescription Medication               0.028584
Reaction to Other Uninvolved Vehicle  0.009909
Traffic Control Disregarded           0.027274
Turning Improperly                    0.050147
Unsafe Lane Changing                  0.018397
Unsafe Speed                          0.008901
View Obstructed/Limited               0.009084

In [70]:
taxi_list.to_csv('taxi.csv')

In [59]:
df1 = Collision_data[Collision_data.LONGITUDE <= -73.96]

In [60]:
df1 = df1[df1.LONGITUDE >= -74.013]

In [61]:
df1.head()

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,la,lo
2,10/22/2017,0:00,MANHATTAN,10011,40.739136,-73.999260,"(40.739136, -73.99926)",NaN,NaN,77 7 AVENUE,...,NaN,NaN,3774254,TAXI,BU,NaN,NaN,NaN,40.739,-73.999
3,10/22/2017,0:00,MANHATTAN,10025,40.794235,-73.962814,"(40.794235, -73.962814)",CENTRAL PARK WEST,WEST 100 STREET,NaN,...,NaN,NaN,3774917,TAXI,TAXI,NaN,NaN,NaN,40.794,-73.963
15,10/22/2017,0:30,BROOKLYN,11201,40.701440,-73.984770,"(40.70144, -73.98477)",YORK STREET,BRIDGE STREET,NaN,...,NaN,NaN,3773948,TAXI,TAXI,NaN,NaN,NaN,40.701,-73.985
19,10/22/2017,0:50,MANHATTAN,10002,40.719750,-73.992165,"(40.71975, -73.992165)",DELANCEY STREET,FORSYTH STREET,NaN,...,NaN,NaN,3774940,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,40.720,-73.992
22,10/22/2017,0:58,MANHATTAN,10019,40.761093,-73.983270,"(40.761093, -73.98327)",WEST 50 STREET,7 AVENUE,NaN,...,NaN,NaN,3774408,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN,40.761,-73.983

In [62]:
df1 = df1[df1.LATITUDE >= 40.72]

In [63]:
df1 = df1[df1.LATITUDE <= 40.81]

In [64]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 135756 entries, 2 to 1139129
Data columns (total 31 columns):
DATE                             135756 non-null object
TIME                             135756 non-null object
BOROUGH                          127818 non-null object
ZIP CODE                         127818 non-null object
LATITUDE                         135756 non-null float64
LONGITUDE                        135756 non-null float64
LOCATION                         135756 non-null object
ON STREET NAME                   124979 non-null object
CROSS STREET NAME                120517 non-null object
OFF STREET NAME                  17031 non-null object
NUMBER OF PERSONS INJURED        135756 non-null int64
NUMBER OF PERSONS KILLED         135756 non-null int64
NUMBER OF PEDESTRIANS INJURED    135756 non-null int64
NUMBER OF PEDESTRIANS KILLED     135756 non-null int64
NUMBER OF CYCLIST INJURED        135756 non-null int64
NUMBER OF CYCLIST KILLED         135756 non-null int64
NUMBER OF MOTORIST INJURED       135756 non-null int64
NUMBER OF MOTORIST KILLED        135756 non-null int64
CONTRIBUTING FACTOR VEHICLE 1    134847 non-null object
CONTRIBUTING FACTOR VEHICLE 2    117856 non-null object
CONTRIBUTING FACTOR VEHICLE 3    4203 non-null object
CONTRIBUTING FACTOR VEHICLE 4    633 non-null object
CONTRIBUTING FACTOR VEHICLE 5    137 non-null object
UNIQUE KEY                       135756 non-null int64
VEHICLE TYPE CODE 1              134621 non-null object
VEHICLE TYPE CODE 2              115428 non-null object
VEHICLE TYPE CODE 3              4059 non-null object
VEHICLE TYPE CODE 4              591 non-null object
VEHICLE TYPE CODE 5              125 non-null object
la                               135756 non-null float64
lo                               135756 non-null float64
dtypes: float64(4), int64(9), object(18)
memory usage: 33.1+ MB

In [65]:
23271/135756

0.171

In [66]:
Collision_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1139133 entries, 0 to 1139132
Data columns (total 31 columns):
DATE                             1139133 non-null object
TIME                             1139133 non-null object
BOROUGH                          821108 non-null object
ZIP CODE                         821029 non-null object
LATITUDE                         928495 non-null float64
LONGITUDE                        928495 non-null float64
LOCATION                         928495 non-null object
ON STREET NAME                   923773 non-null object
CROSS STREET NAME                875872 non-null object
OFF STREET NAME                  172400 non-null object
NUMBER OF PERSONS INJURED        1139133 non-null int64
NUMBER OF PERSONS KILLED         1139133 non-null int64
NUMBER OF PEDESTRIANS INJURED    1139133 non-null int64
NUMBER OF PEDESTRIANS KILLED     1139133 non-null int64
NUMBER OF CYCLIST INJURED        1139133 non-null int64
NUMBER OF CYCLIST KILLED         1139133 non-null int64
NUMBER OF MOTORIST INJURED       1139133 non-null int64
NUMBER OF MOTORIST KILLED        1139133 non-null int64
CONTRIBUTING FACTOR VEHICLE 1    1134198 non-null object
CONTRIBUTING FACTOR VEHICLE 2    988604 non-null object
CONTRIBUTING FACTOR VEHICLE 3    74260 non-null object
CONTRIBUTING FACTOR VEHICLE 4    15997 non-null object
CONTRIBUTING FACTOR VEHICLE 5    3927 non-null object
UNIQUE KEY                       1139133 non-null int64
VEHICLE TYPE CODE 1              1130641 non-null object
VEHICLE TYPE CODE 2              957242 non-null object
VEHICLE TYPE CODE 3              71920 non-null object
VEHICLE TYPE CODE 4              15393 non-null object
VEHICLE TYPE CODE 5              3803 non-null object
la                               928495 non-null float64
lo                               928495 non-null float64
dtypes: float64(4), int64(9), object(18)
memory usage: 269.4+ MB

In [67]:
df1[df1['VEHICLE TYPE CODE 1']== 'TAXI'].count()

DATE                             23271
TIME                             23271
BOROUGH                          22133
ZIP CODE                         22133
LATITUDE                         23271
LONGITUDE                        23271
LOCATION                         23271
ON STREET NAME                   21579
CROSS STREET NAME                20717
OFF STREET NAME                   1491
NUMBER OF PERSONS INJURED        23271
NUMBER OF PERSONS KILLED         23271
NUMBER OF PEDESTRIANS INJURED    23271
NUMBER OF PEDESTRIANS KILLED     23271
NUMBER OF CYCLIST INJURED        23271
NUMBER OF CYCLIST KILLED         23271
NUMBER OF MOTORIST INJURED       23271
NUMBER OF MOTORIST KILLED        23271
CONTRIBUTING FACTOR VEHICLE 1    23154
CONTRIBUTING FACTOR VEHICLE 2    20315
CONTRIBUTING FACTOR VEHICLE 3      658
CONTRIBUTING FACTOR VEHICLE 4       85
CONTRIBUTING FACTOR VEHICLE 5       14
UNIQUE KEY                       23271
VEHICLE TYPE CODE 1              23271
VEHICLE TYPE CODE 2              19994
VEHICLE TYPE CODE 3                635
VEHICLE TYPE CODE 4                 80
VEHICLE TYPE CODE 5                 14
la                               23271
lo                               23271
dtype: int64

In [68]:
Collision_data[Collision_data['VEHICLE TYPE CODE 1']== 'TAXI'].count()

DATE                             43923
TIME                             43923
BOROUGH                          35954
ZIP CODE                         35954
LATITUDE                         39211
LONGITUDE                        39211
LOCATION                         39211
ON STREET NAME                   38122
CROSS STREET NAME                35559
OFF STREET NAME                   2934
NUMBER OF PERSONS INJURED        43923
NUMBER OF PERSONS KILLED         43923
NUMBER OF PEDESTRIANS INJURED    43923
NUMBER OF PEDESTRIANS KILLED     43923
NUMBER OF CYCLIST INJURED        43923
NUMBER OF CYCLIST KILLED         43923
NUMBER OF MOTORIST INJURED       43923
NUMBER OF MOTORIST KILLED        43923
CONTRIBUTING FACTOR VEHICLE 1    43729
CONTRIBUTING FACTOR VEHICLE 2    38189
CONTRIBUTING FACTOR VEHICLE 3     1800
CONTRIBUTING FACTOR VEHICLE 4      305
CONTRIBUTING FACTOR VEHICLE 5       65
UNIQUE KEY                       43923
VEHICLE TYPE CODE 1              43923
VEHICLE TYPE CODE 2              37258
VEHICLE TYPE CODE 3               1739
VEHICLE TYPE CODE 4                294
VEHICLE TYPE CODE 5                 64
la                               39211
lo                               39211
dtype: int64

In [69]:
43923/1139133

0.039